doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/styles.css")
    script(src="/js/addart.js")
    title Add Item
  body
    include ./headers

    if session && session.loggedin

      if !session.artist 
        h2 Not Authorized   

      else

        p#artist(hidden) #{session.username}

        ul 
            li name 
            input(type="text", id='aname', name='aname', value='')
            br
            li year 
            input(type="text", id='ayear', name='ayear', value='')
            br
            li category 
            input(type="text", id='acategory', name='acategory', value='')
            br
            li medium 
            input(type="text", id='amedium', name='amedium', value='')
            br
            li description 
            input(type="text", id='adescription', name='adescription', value='')
            br
            li Image(link only) 
            input(type="text", id='aimage', name='aimage', value='')
            br
            br
            button(type="button", onclick="addItem()") Add


    else 
      h2 Not Authorized    