doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
    title Homepage
  body
    include ./headers

    if session && session.loggedin 
      h1.hometitle Welcome to Art Gallery, #{session.username}
      h2.sectitle Hope you enjoy your stay
    else 
      h1.hometitle Welcome to Art Gallery
      h2.sectitle please login to continue
    br
    br
    h4.intro   
