doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/styles.css")
    script(src="/js/clearnoti.js")
    title Notification
  body
    include ./headers

    if session && session.loggedin

      p#user(hidden) #{session.username}

      if session.artist 
        h2 Not Authorized 

      else 

        if notifications.length == 0
            h2 No new notifications 

        else 

            each notification in notifications
                ul 
                    li= notification 

            br
            br
            button(type="button", onclick="clearNotification()") Clear  
    else 
        h2 Not Authorized
        